
# ========================================
#	SCA_WEB_BACK
# ========================================


__pycache__/

sca_web_back/sca_web_back/__pycache__/

sca_web_back/sca_web_back/sca_api_app/__pycache__/

sca_web_back/sca_web_back/sca_api_app/neo_config.py

sca_web_back/sca_web_back/secret_config.py

sca_web_back/db.sqlite3

sca_web_back/.idea/

sca_web_back/Include

sca_web_back/Lib

sca_web_back/Scripts


# =========================================
#	SCA_WEB_FRONT
# =========================================

sca_web_front/node_modules/


sca_web_front/src/constant_urls.js



../sca_web_back/sca_web_back/__pycache__/settings.cpython-37.pyc

sca_web_back/sca_web_back/sca_api_app/__pycache__/views.cpython-37.pyc

sca_web_back/js.py

