
# ========================================
#		DJANGO GITIGNORE
# ========================================

sca_web_back/sca_web_back/__pycache__/

sca_web_back/sca_web_back/sca_api_app/__pycache__/

sca_web_back/sca_web_back/secret_config.py

sca_web_back/db.sqlite3

sca_web_front/node_modules/

