.top_search_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 10%;
}


.top_search_form__input {
    flex-grow: 10;
    height: 6vh;
    border: 0px;
    border-radius: 9px;
    padding: 2%;
    font-size: 1.5em;
}

.top_search_form__button {
    padding: 0px 2%;
    margin: 0px 2%;
    border: none;
    flex-grow: 0.5;
    border-radius: 4px;
}

.top_results_filter {
    padding: 0% 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 10px 10px 5px grey;
}

.top_results_filter__button, .top_results_filter__button-active {
    border: none;
    font-size: 1.1em;
    font-family: sans-serif;
    background: white;
}

.top_results_filter__button-active {
    border-bottom: 2px blue solid;
    color: blue;
    font-weight: bold;
}

.pagination_footer {
    text-align: center;
    margin-bottom: 2%;
}

.more_button {
    padding: 0px 2%;
    margin: 0px 2%;
    border: none;
    flex-grow: 0.5;
    border-radius: 4px;
}

.filters_and_results_container {
    padding: 0 10%;
}

.filters_and_results_container .sidebar {
    position: absolute;
    width: 200px;
}

.filters_and_results_container .results_container {
    margin-left: 200px;
}


@media only screen and (max-width: 1000px) {
    .top_search_form {
        padding: 1% 2%;
    }

    .filters_and_results_container {
        padding: 0 4%;
    }
}